//  Colors
$grey: #615f5f;
$dark: #0c0c0c;
$white: #fff;
$light-grey: #d1cfcf;
$dark-white: #f1f1f1;

html {
  box-sizing: border-box;
  font-size: 125%;
  font-weight: 300;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(320deg, $grey, $dark);
}

button {
  border: 0;
  font-size: inherit;
}

p {
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-family: 'Monoton', cursive;
  font-size: 1.2rem;
}

.container {
  max-width: 20em;
}

.calculator {
  border-radius: 0;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

.calculator-screen {
  background-color: $white;
  color: $dark;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  border-bottom: 0.5em solid $dark-white;
  text-align: right;
  padding: 0.5em;
}

.calculator-keys {
  background-color: $white;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.2em;
}

.calculator-keys > * {
  background-color: $dark-white;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.key-operator {
  background-color: $light-grey;
}

.key-equal {
  background-color: $light-grey;
  grid-column: -2;
  grid-row: 2 / span 4;
}